streamlit
langchain
langchain-text-splitters
faiss-cpu
pypdf
langchain-community
google-generativeai
langchain-groq
langchain-huggingface
sentence-transformers
transformers
torch
langchain-core
streamlit-authenticator
bcrypt
PyYAML